#*******************************************************************************
#.travis.yml
#*******************************************************************************

#Purpose:
#Travis CI is a hosted continuous integration service, that is, it allows 
#running code directly from a repository and checking that the code acts as 
#expected. The purpose of the .travis.yml file is to give instructions to Travis 
#CI on how to do the work.
#Author:
#Cedric H. David, 2017-2017


#*******************************************************************************
#System specifications for Travis CI
#*******************************************************************************
language: generic            #Language cannot yet be 'python' for OSX in Travis

matrix:
  include:
    - os: linux
      sudo: required
    - os: osx


#*******************************************************************************
#Environment variables for different tests on multiple Travis CI workers
#*******************************************************************************
env:
- TST_PUB_DWNL='./tst_pub_dwnl_David_etal_201x_SER.sh' TST_PUB_REPR='./tst_pub_repr_David_etal_201x_SER.sh'


#*******************************************************************************
#Before installing SHBAAM
#*******************************************************************************
before_install:
- gpg --keyserver hkp://keys.gnupg.net --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3
- rvm get stable

#-------------------------------------------------------------------------------
#Specific to Linux
#-------------------------------------------------------------------------------
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then apt-get --version             ; fi
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install -y $(grep -v -E '(^#|^$)' requirements.apt) ; fi


#-------------------------------------------------------------------------------
#Specific to OSX
#-------------------------------------------------------------------------------
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew --version                  ; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then sudo easy_install pip ; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then rm '/usr/local/include/c++' ; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew reinstall $(grep -v -E '(^#|^$)' requirements.brw) ; fi

#-------------------------------------------------------------------------------
#General environment details
#-------------------------------------------------------------------------------
- uname -a
- echo $TRAVIS_OS_NAME
- gcc --version
- python --version
- pip --version
- h5cc -showconfig
- h5cc -print-file-name
- h5cc -print-sysroot

#*******************************************************************************
#Installing SHBAAM
#*******************************************************************************
install:
- cd $TRAVIS_BUILD_DIR
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo -H pip install $(grep numpy requirements.pip); fi
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo -H pip install -r requirements.pip; fi

  #HDF5_DIR=/usr/local/Cellar/hdf5@1.8/1.8.19
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then sudo -H  pip install --ignore-installed -r requirements.pip; fi



#*******************************************************************************
#Testing SHBAAM
#*******************************************************************************
script:
- cd $TRAVIS_BUILD_DIR
- cd ./tst/
- echo $TST_PUB_DWNL && $TST_PUB_DWNL
- echo $TST_PUB_REPR && $TST_PUB_REPR
- echo "The build is now completed"


#*******************************************************************************
#End
#*******************************************************************************
